/*
 *  This is the configuration file for a RepRap Extruder Controller.
 *  Go through it setting values for your particular extruder.
 *
 *  Lines ending with a:
 *
 *     // *RO
 *
 *  (Read-only) comment should probably only be edited if you know 
 *  what you are doing...
 */
 
#ifndef CONFIGURATION_H
#define CONFIGURATION_H

// Character representing the name of this device

#define MY_NAME '0'

// We are a slave

#define RS485_MASTER 0   // *RO     

// What sort of Motherboard is controlling us

#define MOTHERBOARD 2

// Temperature measurement
// Uncomment ONE of the next three depending on the temperature
// sensor fitted to your extruder.  If it's an extruder without
// a temperature sensor (i.e. it works at room temperature) uncomment
// the AD595_THERMOCOUPLE line.

//#define USE_THERMISTOR
#define AD595_THERMOCOUPLE
//#define MAX6675_THERMOCOUPLE

// Comment out the next line to give a bang-bang thermostat
// Leave it for PID temperature control

#define PID_CONTROL  // *RO 

// Uncomment the next line to use full-stepping for the extrude motor
// Leave it commented for half stepping

//#define FULL_STEP  // *RO 

#endif
